.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 9.6rem; */
  padding: 1rem 6rem;
  position: relative;

  border-bottom: 1px solid #bbb;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.4rem;
  margin-right: 1.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.sub-nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: center;
}

/*---------- Nav Button ----------*/

.nav-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 1.8rem;
  padding: 0.6rem;
  cursor: pointer;
}

.nav-btn:hover {
  color: #743838;
}
